body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .listItem {
  display: flex;
  justify-content: space-between;
  width: 25rem;
} */

/* colors */

/* .controls {
  display: flex;
  align-items: center;
}
.color-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.color-card {
  height: 150px;
}

.error {
  border: 2px solid red;
}

.color-info {
  padding: 1rem;
} */
